{% extends 'base.html.twig' %}

{% block title %}All Programs{% endblock %}

{% block h1 %} <h1>Toutes les séries de la table program : </h1>{% endblock %}

{% block body %}

    <div class="container d-flex flex-wrap justify-content-around mt-3">
        {% for program in programs %}
                <div class="card m-3" style="width: 20rem;">
                    <img class="card-img-top" src="{{program.poster}}" alt="{{ program.title }} poster">
                    <div class="card-body">
                        <h2 class="card-title">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                        <p class="card-text">{{ program.synopsis }}</p>
                        <a href="{{ path('program_show', {id: program.id}) }}" class="btn btn-primary">Afficher</a>
                    </div>
                </div>

        {% else %}
                Aucune série trouvée.
        {% endfor %}
    </div>

    <a href="{{ path('app_index') }}" class="btn btn-primary">
        Retour à l'accueil
    </a>


{% endblock %}